<div class="row">
	<div class="col-md-6">
	
		<div class="form-group">
			<%= f.label(:page_id, "Page") %>			
		<%= f.select(:page_id, @pages.map {|s| [s.name, s.id]}, :class => 'form-control') %>
		</div>

		<%= f.label(:name, "Name") %>
		<%= f.text_field(:name, :class => 'form-control') %>
	
		<%= f.label(:position) %>
		<%= f.text_field(:position, :class => 'form-control') %>

		<%= f.label(:content_type) %>
		<br>
		<%= f.radio_button(:content_type, 'text') %> Text
		<%= f.radio_button(:content_type, 'HTML') %> HTML
		<br>

		<%= f.label(:content) %>
		<%= f.text_field(:content, :class => 'form-control') %>

		<%= f.label(:visible) %>
		<%= f.check_box(:visible, :class => 'form-control') %>

</div>
</div>