
<div class="container">
	<div class="subject index">
		<h2 class="text-center">Sections</h2>

		<br>
		<%= link_to(image_tag('new.jpg', :size => '20x20', :alt => '+') + "Add New Section", {:action => 'new'}, :class => 'action new') %>
		<br>

		<table class="table" sumamry="Section list">
			<tr class="header">
				<th>Page ID</th>
				<th>Section</th>
				<th>Content Type</th>
				<th>Content</th>
				<th>Section</th>
				<th>Visible</th>
				<th>Actions</th>
			</tr>
			<% @sections.each do |section| %>
			<tr>
				<td><%= section.position %></td>
				<td><%= section.page_id %></td>
				<td><%= section.name %></td>
				<td><%= section.content_type %></td>
				<td><%= section.content %></td>
				<td class="center"><%= status_tag(section.visible) %></td>
				<td class="actions">
					<%= link_to("Show", {:action => 'show', :id => section.id}, :class => 'action show') %>
					<%= link_to("Edit", {:action => 'edit', :id => section.id}, :class => 'action edit') %>
					<%= link_to("Delete", {:action => 'delete', :id => section.id}, :class => 'action delete')%>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>