<div class="row">
	<div class="col-md-9">
			<%= error_messages_for(@page) %>

	</div>
</div>

<div class="row">
	<div class="col-md-6">

		
		<div class="form-group">
			<%= f.label(:subject_id, "Subject") %>
		<%= f.select(:subject_id, @subjects.map {|s| [s.name, s.id]}, :class => 'form-control') %>
		</div>

		<div class="form-group">
			<%= f.label(:name, "Name") %>
			<%= f.text_field(:name, :class => 'form-control') %>
		</div>

		<%= f.label(:position) %>
		<%= f.select(:position, 1..@page_count, :class => 'form-control') %>


		<div class="form-group">
			<%= f.label(:permalink) %>
			<%= f.text_field(:permalink, :class => 'form-control') %>
		</div>
		
		<%= f.label(:visible) %>
		<%= f.check_box(:visible, :class => 'form-control') %>


		
		


</div>
</div>

