<div class="col-md-6">
	
		<%= f.label(:name, "Name") %>
		<%= f.text_field(:name, :class => 'form-control') %>
	

		<%= f.label(:position) %>
		<%= f.text_field(:position, :class => 'form-control') %>
	

		<%= f.label(:visible) %>
		<%= f.check_box(:visible, :class => 'form-control') %>

</div>
