<div class="container">
	
	<%= link_to("<< Back to  List", {:action => 'index'}, :class => 'back-link') %>

	<div class="subjects new">
		
		<h2 class="text-center">Create Subject</h2>

		<%= form_for(:subject, :url => {:action => 'create'}) do |f| %>

			<div class="label">Name</div>
			<div class="form-control">
				<%= f.text_field(:name) %>
			</div>

			<div class="label">Position</div>
			<div class="form-control">
				<%= f.text_field(:position) %>
			</div>

			<div class="label">Visible</div>
			<div class="form-control">
				<%= f.text_field(:visible) %>
			</div>

			<div class="btn form-buttons">
				<%= submit_tag("Create Subject") %>
			</div>
		<% end %>


	</div>


</div>